body{
  background:linear-gradient(to bottom, rgba(204,229,255,1),rgba(216, 163, 94, 0.4)) ; 
  /*OPACITY: Last value is alpha that manages opacity that takes value from 0 to 1 */
}
#title{
  color:rgb(186,133,9);
}
.subtitle{
  color:rgb(219,168,50);
}
/* By default the image gets repeated */

/* #service-image{
  height:400px;
  width: 70%;
  background-image: url("../CSS_tut/img/img-2.jpg");
} */

/* BY Changing the property to dont repeat we donot resize the image the container dimensions stay the same.However the image gets to its default size  */

/* #service-image{
  height:400px;
  width: 70%;
  background-image: url("../CSS_tut/img/img-2.jpg");
  background-repeat: no-repeat;
  background-color: black;
} */

/* To manipulate the height and width of the image as per size of the container */
/* #service-image{
  height:400px;
  width: 70%;
  background-image: url("../CSS_tut/img/img-2.jpg");
  background-size: cover;
  background-color: black;
} */

/* To resize the image without messing with the proportions of the image, we use 'contain' instead of 'cover'*/ 

/* GRADIENTS */
#service-image{
  height:400px;
  width: 70%;

  /* Linear gradient */
  /* background: linear-gradient(to right,rgb(230, 66, 134),steelblue,rgb(30, 114, 30)); */

  /* Using angles to color the gradients */
/* background: linear-gradient(215deg,rgb(223, 111, 145),steelblue); */

/* Radial Gradients */
/* background: radial-gradient(red,blue,green); */

/* To add percentages of the colors */
/* background: radial-gradient(red 20%, blue 40%,pink 20%); */

/* To change the shape of the gradients */
/* To add percentages of the colors */
background: radial-gradient(circle, red 20%,green 40%,blue 20%);
}

/* TEXT MANIPULATION */


.link{
  
}

#about-us-image{
  height: 300px;
  width:60%
}

.container{
  background: black;
  margin:10px;
  height:300px;
  display: flex;
  flex-direction: row;
  /* flex-wrap:wrap; */
  justify-content: space-evenly;
  align-items: center;
}
.container-item{
  background:rgb(36,130,39);
  color:white;
  font-size: 25px;
  text-align: center;
  width: 70px;
  line-height: 50px;
  margin: 10px;
}
.grid-container{
  background-color: rgb(250,250,250);
  margin: 10px;
  height:500px;
  display: grid;
  grid-template-columns: auto auto auto;
  grid-template-rows: auto auto;
  /* justify-content: space-between;
  align-content:space-around; */
}
.grid-item{
  color:black;
  font-size: 25px;
  text-align: center;
  width:70px;
  /* line-height: 40px; */
  margin: 10px;
}
.submit-button{
  margin:20px 0px;
  padding:10px 15px;
  border:none;
  text-decoration: none;
  font-family: "Lato",sans-serif;
  font-weight: 600;
  font-size: 20px;
  color: white;
  background-color: rgb(89,150,255);
  transition: background 1s ease-in-out, padding 1s linear, border-radius 2s ease; /* Else we can use "all" for all the properties to have similar effect */
}
.submit-button:hover{
  background-color: rgb(115, 202, 173);
  padding:15px 20px;
  border-radius: 20px;
} 

#about-me{
  animation-name: red-to-black;
  animation-duration: 4s; 
  animation-delay: 1s;
}

@keyframes red-to-black {
  0%{
    background:rgb(248, 119, 119);
    transform: translate(50px, 0px); 
  }
  50%{
    background: rgb(80, 121, 255);
    color: rgb(109, 109, 109);
    transform: translate(25px,0);
  }
  100%{
    background: black;
    color: white;
    transform: translate(0px,0);
  }
  
}